/* Extend the existing CSS rules */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }

  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }

  /* Hide Google Translate toolbar and related elements */
  .goog-te-banner-frame.skiptranslate,
  .goog-te-gadget-icon,
  .goog-te-gadget-simple,
  .goog-te-banner-frame,
  .goog-te-spinner-pos,
  .goog-te-banner,
  .goog-te-menu-frame,
  .goog-te-ft-feedback,
  .goog-te-ft-feedback div,
  .goog-te-ft-feedback a,
  .goog-tooltip,
  #goog-gt-tt,
  #goog-gt-vt,
  #goog-gt-original-text,
  #goog-gt-votingHiddenPane,
  .goog-te-gadget,
  .goog-logo-link,
  #google_translate_element {
    display: none !important;
    visibility: hidden !important;
  }

  /* Hide the Google Translate dropdown */
  .goog-te-combo {
    display: none !important;
    visibility: hidden !important;
  }

  /* Prevent the body from shifting when the Google Translate toolbar is removed */
  body {
    top: 0px !important;
    position: static !important;
  }

  /* Customize the Google Translate dropdown if needed */
  #google_translate_element .goog-te-gadget {
    color: #fff !important;
  }

  /* Remove any highlighting added by Google Translate */
  .goog-text-highlight {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  /* Ensure no remnants of Google Translate appear */
  iframe[name="google_conversion_frame"],
  iframe[name="google_osd_static_frame"] {
    display: none !important;
    visibility: hidden !important;
  }

  #google_translate_element .goog-te-combo {
    background-color: #27272c;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden; /* Keep it hidden */
  }
}
